.listItemStyle {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}
i {
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33ccff;
    color: #fff;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
i:hover {
    background-color: #b30000;
    transform: rotate(90deg);
}